body {

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 50px;
}

button {

    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    color:#f8f9fa;
    background: #c300ff;
}

P{

    font-family: 'Times New Roman', Times, serif;
    color:#054788;
}

input {

    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 16px;
    background: #747175;
    color:#f8f9fa;
}


.valido {

    color: #05b10e;
}

.invalido {

    color: #cc2a2a;
}